div{
    background-color: goldenrod;
    height: 80px;
    width: 100px;
    border: 5px solid white;
    margin: 2px;
    float: left;
    margin: left 5px ;
    
    
}
body{
    background-color: black;
}
#first{
    background-color:red;
    margin-left: 5px;
    
}
#second{
    background-color: gray;
}
#thired{
    background-color: indigo;
}
#four{
    background-color: lightcoral;
}
#five{
    background-color: olive;
}
h2{
    color:white;
    text-align: center;
    font-family: 'Anton',sans-serif;
}